<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <appender name="console" class="org.apache.log4j.ConsoleAppender"> 
    <param name="Target" value="System.out"/> 
    <layout class="org.apache.log4j.PatternLayout"> 
      <param name="ConversionPattern" value="%-5p %c{1} - %m%n"/> 
    </layout> 
  </appender> 

  <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p [%c] %m %n" />
		</layout>
  </appender>
	
  <appender name="SYSOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{ISO8601}] %-5p [%c] %m %n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="ERROR" />
			<param name="LevelMax" value="FATAL" />
		</filter>
	</appender>

	<appender name="COURIER_PORTAL_ROLLING_FILE" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="/data/Drive/Personal/Assignment/courier-portal/logs/CourierPortal.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="500KB" />
		<param name="MaxBackupIndex" value="5" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{ISO8601}] %-5p %m%n" />
		</layout>
	</appender>

	<logger name="com.liftoff.courier" additivity="false">
		<level value="trace" />
		<appender-ref ref="COURIER_PORTAL_ROLLING_FILE" />
		<appender-ref ref="STDOUT" />
	</logger>
	
  <root> 
    <priority value ="debug" /> 
    <appender-ref ref="SYSOUT" /> 
  </root>
  
</log4j:configuration>